<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="sidenav-left">
      <p><lib-menu-ui></lib-menu-ui></p>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <!-- <div style="border: 1px solid; width: 99.9%; height: 10.5vh">
    <router-outlet></router-outlet>
  </div> -->
  <router-outlet></router-outlet>
</mat-drawer-container>
